services:
  web:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    container_name: web
    env_file: .env
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src
      - ./credentials:/app/credentials
      - ./alembic.ini:/app/alembic.ini
      - ./alembic:/app/alembic

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    volumes:
      - ./docker/redis/redis.conf:/usr/local/etc/redis/redis.conf

  celery_worker:
    build:
      context: .
      dockerfile: docker/celery/Dockerfile
    container_name: worker
    env_file: .env
    volumes:
      - ./credentials:/app/credentials
      - ./src:/app/src
    depends_on:
      - db
      - redis

  celery_beat:
    build:
      context: .
      dockerfile: docker/celery/Dockerfile
    container_name: beat
    command: celery -A src.worker_app beat --loglevel=info
    env_file: .env
    volumes:
      - ./credentials:/app/credentials
      - ./src:/app/src
    depends_on:
      - db
      - redis
      - celery_worker

volumes:
  postgres_data:
